# 基本依赖
dashscope>=1.11.0
eval_type_backport
json5
jsonlines
jsonschema
openai
pydantic>=2.3.0
requests
tiktoken

# 可选依赖
# RAG（检索增强生成）
charset-normalizer
rank_bm25
jieba
snowballstemmer
beautifulsoup4
pdfminer.six
pdfplumber
python-docx
python-pptx
pandas
tabulate

# MCP（模型上下文协议）
mcp

# Python执行器（主要用于解决数学问题）
pebble
multiprocess
timeout_decorator
python-dateutil
sympy
numpy
scipy

# 代码解释器
anyio>=3.7.1
fastapi>=0.103.1
jupyter>=1.0.0
matplotlib
numpy
pandas
pillow
seaborn
sympy
uvicorn>=0.23.2

# Gradio基础的GUI
pydantic==2.9.2
pydantic-core==2.23.4
gradio==5.23.1
gradio-client==1.8.0
modelscope_studio==1.1.7



runpod